*{
	margin:0;
	padding:0;
}
html,
body,
#root,
.calc{
	width: 100%;
	height: 100%;
}
.calc{
    display: grid;
    grid-template-rows: auto auto 1fr;
    header{
        height: auto;
        padding: 0.9rem ;
        background:rgb(10, 23, 138);
        color: white;
        font-size:30px;
    }
    .display{
        padding:0.9rem;
        background: rgb(255, 255, 255);
        color: rgb(71, 71, 71);
        font-size: 50px;
        text-align: right;
        word-break: break-all;
    }
    .input{
        display: grid;
        grid-template-columns: 3fr 1fr;
        .numbers{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(4,1fr);
        }
        .operators{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4,1fr);

            border-left: solid 2px rgb(146, 146, 146);
            margin-left: 3px;
            padding-left: 3px;
        }
    }
}
button{
    font-size: 40px;
    background: rgb(197, 197, 197);
    color: white;
    outline: none;
    border:solid 2px rgb(190, 190, 190);
    &:hover{
        background: rgb(180, 180, 180);
    }
    &:active{
        background: rgb(88, 88, 88);
    }
    &[disabled]{
        opacity: 0.3;
    }
}




